@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased;
  }
}

@layer components {
  .card {
    @apply bg-slate-900 border border-slate-800 rounded-2xl p-4 shadow;
  }
}
